<swiper class="banner-slides" [initialSlide]="0" [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true"
  [centeredSlidesBounds]="true">
  <ng-template swiperSlide>
    <div class="card">
      <div class="box-container">
        <div class="orange-box"></div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <div class="box-container"></div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <div class="box-container"></div>
    </div>
  </ng-template>
</swiper>