<ion-header class="ion-no-border">
  <div class="toolbar">
    <ion-button fill="clear" slot="start" class="ion-no-padding">
      <ion-icon name="menu-outline" class="menu-icon" size="large"></ion-icon>
    </ion-button>

    <ion-img src="../../../assets/logo.png" class="logo" />

    <ion-button slot="end" class="notifications-button ion-no-padding">
      <ion-icon name="notifications" size="small"></ion-icon>
    </ion-button>
  </div>

  <div class="profile">
    <ion-avatar>
      <ion-img src="https://github.com/pemonter.png" alt="Profile photo" />
    </ion-avatar>
    <div class="profile-data">
      <ion-label class="name">Pedro Monteiro</ion-label>
      <ion-label class="nivel">Nível Roxo</ion-label>
    </div>
  </div>

  <div class="options">
    <ion-button fill="clear" class="my-body-button ion-no-padding">
      <rounded-icon name="body" size="small"/>
      <ion-label>Meu corpo</ion-label>
    </ion-button>

    <ion-button fill="clear" class="goals-button ion-no-padding">
      <rounded-icon name="trophy" size="small"/>
      <ion-label>Objetivos e conquistas</ion-label>
    </ion-button>
  </div>
</ion-header>