<header></header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label>
      Personal online
      <ion-button fill="clear" class="add-button ion-no-padding">
        <rounded-icon name="add" size="medium" />
      </ion-button>
    </ion-label>

    <carousel-personal></carousel-personal>
  </div>

  <div class="container">
    <ion-label>
      Programas
      <ion-badge color="primary">Novo</ion-badge>
    </ion-label>

    <carousel-programs></carousel-programs>
  </div>

  <div class="container disable">
    <ion-label>
      Conteúdos
    </ion-label>

    <carousel-contents></carousel-contents>
  </div>
</ion-content>