ion-content {
  --padding-top: 1rem;
  --padding-start: 2rem;
  --padding-end: 2rem;

  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  margin-bottom: 2rem;
}

ion-label {
  min-height: 3.5rem;

  display: flex;
  align-items: center;

  font-family: "Roboto-Black";
  font-size: 1.5rem;
  text-transform: uppercase;

  gap: 0.5rem;

  ion-badge {
    font-family: "Roboto-Black";
    font-size: 0.5rem;
  }
}

carousel-personal,
carousel-programs,
carousel-contents {
  position: relative;
  left: 2.5rem;
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.programs-label {
  display: flex;
}